*.a
*.bin
*.map
*.png
*.log
*.elf
*.d
*.ihex
*.pyc
*.redbee-econotag
*.econotag
*.native
*.z1
*.minimal-net
*.sky
*.wismote
*.esb
*.avr-raven
*.exp5438
*.mbxxx
*.win32
*.apple2enh
*.atarixl
*.c128
*.c64
*.cc2538dk
*.eth1101
*.eth1120
*.eth2538
*.eth-spirit1
*.exp1101
*.exp1120
*.exp2420
*.mist-cc2538dk
*.mist-exp5438
*.mist-mb851
*.mist-native
*.mist-spirit1
*.red-io
*.trxeb
*.trxeb1101
*.trxeb1120
*.trxeb2520
*.report
summary
*.summary
*.faillog
*.orig
*~
.DS_Store
obj_*
symbols.*
Makefile.target
patches-*
build
COOJA.testlog

# sdcc build artifacts
contiki-sensinode.lib
contiki-cc2530dk.lib
*.ihx
*.hex
*.mem
*.lk
*.omf
*.cdb
*.banks
*.sensinode
*.cc2530dk

# VC++ build artifacts
*.exp
*.ilk
*.lib
*.pdb
*.prg
*.dsc

#cc65 build artifacts
*.S
*.eth
*.dsk
*.2mg
*.atr
*.d64
*.d71
*.d81

#regression tests artifacts
*.testlog
